* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    background: #292929;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}

.cardbox {
    perspective: 500px;
    margin: 15px;
}

.card {
    position: relative;
    width: 150px;
    height: 150px;
    background: #fff;
    transform-style: preserve-3d;
    box-shadow: 0 30px 30px rgba(0, 0, 0, .5);
    transition: .5s ease;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -ms-transition: .5s ease;
    -o-transition: .5s ease;
}

.facebook {
    background: #3b5998;
}

.twitter {
    background: #00aced;
}

.google {
    background: #dd4b39;
}

.card-front, .card-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
    color: #fff;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.card-front {
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-back {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}

.cardbox:hover .card {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}