* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    visibility: hidden;
    display: none;
}

.check {
    position: relative;
    display: block;
    /*width: 40px;
    *//*height: 20px;
    */width: 200px;
    height: 100px;
    background-color: #092c3e;
    cursor: pointer;
    /* border-radius: 20px; */
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    overflow: hidden;
    transition: ease-in 0.5s;
    -webkit-transition: ease-in 0.5s;
    -moz-transition: ease-in 0.5s;
    -ms-transition: ease-in 0.5s;
    -o-transition: ease-in 0.5s;
}

input[type="checkbox"]:checked ~ .check {
    background: #fff;
    box-shadow: 0 0 0 2560px #092c3e;
}

.check::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    /* top and left 2 */
    background: #fff;
    /* width: 16px; */
    /* height: 16px; */
    width: 80px;
    height: 80px;
    transition: 0.5s;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

input[type="checkbox"]:checked ~ .check::before {
    transform: translateX(100px);
    background: #092c3e;
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
}